<nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo center">Logo</a>
      <ul class="left hide-on-med-and-down">
        <li routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}"><a routerLink='/'>Consultas</a></li>
        <li routerLinkActive="active"><a [routerLink]='"/tarefas"'>Tarefas</a></li>
      </ul>
    </div>
  </nav>
  <div class="row" style='width: 100%'>
    <div class='col s12'>
      <!-- removendo o app-server e adicionando router-outlet <app-server></app-server> -->
      <router-outlet></router-outlet>
    </div>
  </div>