<nav *ngIf="currentUser">
    <div class="nav-wrapper">
        <ul class="left">
        <li routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}"><a routerLink='/'>Consultas</a></li>
        <li routerLinkActive="active"><a [routerLink]='"/tarefas"'>Tarefas</a></li>
        </ul>
        <a class="right" (click)="logout()">Logout</a>
    </div>
    </nav>
    <div class="row" style='width: 100%'>
    <div class='col s12'>
        <!-- removendo o app-server e adicionando router-outlet <app-server></app-server> -->
        <router-outlet></router-outlet>
    </div>
    </div>